# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Backend
APP_NAME=Observatorio Nacional de Investigacion de EsSalud
API_PREFIX=/api
DATABASE_URL=postgresql+psycopg://observatorio:observatorio@postgres:5432/observatorio
CORS_ORIGINS=http://localhost:3000,http://frontend:3000

# PostgreSQL
POSTGRES_DB=observatorio
POSTGRES_USER=observatorio
POSTGRES_PASSWORD=observatorio

# Future integrations
OPENSEARCH_URL=http://opensearch:9200
ORCID_API_URL=https://pub.orcid.org/v3.0
CROSSREF_API_URL=https://api.crossref.org
OPENALEX_API_URL=https://api.openalex.org
PUBMED_API_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils
SCOPUS_API_URL=https://api.elsevier.com
DSPACE_API_URL=
